/* Estructura general */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

.header {
    background-color: #ef5350; /* Color del header */
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .logo {
    position: absolute;
    left: 20px;
    top: 10px;
}

.header .logo img {
    width: 80px;
}

.header h1 {
    margin: 0;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.card-container {
    display: flex;
    gap: 2rem;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.card-header {
    background-color: #c81c23; /* Color de las tarjetas */
    color: white;
    padding: 1rem 0;
    border-radius: 8px 8px 0 0;
}

.card-body {
    padding: 1rem;
}

.card-body img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

.card-body p {
    font-size: 0.9rem;
    color: #333;
}

.card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}
