<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Dashboard - Sistema de Becas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/dashboard.css}">
</head>
<body>
    <div class="dashboard-container">
        <header>
    <div class="header-left">
        <img th:src="@{/images/logo.png}" alt="Logo del Colegio" class="logo">
    </div>
    <div class="header-buttons">
        <a th:href="@{/tipo_de_beca}" class="header-button">Tipos de Becas</a>
        <a th:href="@{/logout}" class="header-button">Cerrar sesión</a>
    </div>
</header>
        
        <main>
            <div class="dashboard-content">
                <!-- Card for "Solicitar Beca" -->
                <div class="dashboard-card">
                    <a th:href="@{/solicitar-beca}" class="card-button-link">
                        <button class="card-button">Solicitar Beca</button>
                    </a>
                    <img class="card-image" th:src="@{/images/solicitar_beca.jpg}" alt="Solicitar Beca">
                    <p class="card-description">
                        En este apartado podrás realizar las solicitudes de becas del estudiante.
                    </p>
                </div>
                
                <!-- Card for "Ver Mis peticiones" -->
                <div class="dashboard-card">
                    <a th:href="@{/mis-peticiones}" class="card-button-link">
                        <button class="card-button">Ver Mis peticiones</button>
                    </a>
                    <img class="card-image" th:src="@{/images/ver_solicitudes.png}" alt="Ver Peticiones">
                    <p class="card-description">
                        Aquí podrás ver las solicitudes que has realizado.
                    </p>
                </div>
            </div>
        </main>
    </div>
</body>
</html>