<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Bienvenidos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <div class="main">
            <h1>¡Bienvenidos a Becas+!</h1>
            <img src="/images/logo_becas+.png" alt="Logo" class="logo">
            <h3>Al iniciar sesión tu podrás realizar desde este mismo sitio tu solicitud de becas del Colegio Español Padre Arrupe, solo necesitas el número de carnet que se te proporciono al matricular a tu hijo/a</h3>
            <a href="/login">
                <button type="button">Iniciar sesión</button>
            </a>
        </div>
            <footer>
        <p>© 2024 Colegio Español Padre Arrupe</p>
        <a href="https://www.instagram.com/colegiopadrearrupeoficial/"><img src="/images/instagram_icon.png" alt="Instagram"></a>
        <a href="https://www.facebook.com/colegiopadrearrupeoficial"><img src="/images/facebook_icon.png" alt="Facebook"></a>
        <a href="https://www.colegiopadrearrupe.org/portal/"><img src="/images/logo.png" alt="Website"></a>
    </footer>

    </body>
</html>
