<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>
    <div class="login-container">
        
        <h2>Iniciar Sesión</h2>
        <form th:action="@{/login}" method="post">
            <input type="text" id="carnet" name="carnet" placeholder="Carnet" required>
            <input type="password" id="password" name="password" placeholder="Contraseña" required>
            <button type="submit">SIGN IN</button>
        </form>
        <div th:if="${error}" class="error-message">
            <p th:text="${error}"></p>
        </div>
    </div>
     <footer>
        <p>© 2024 Colegio Español Padre Arrupe</p>
        <a href="https://www.instagram.com/colegiopadrearrupeoficial/"><img src="/images/instagram_icon.png" alt="Instagram"></a>
        <a href="https://www.facebook.com/colegiopadrearrupeoficial"><img src="/images/facebook_icon.png" alt="Facebook"></a>
        <a href="https://www.colegiopadrearrupe.org/portal/"><img src="/images/logo.png" alt="Website"></a>
    </footer>
</body>
</html>